body { /*обнуляем внешние и внутренние отступы браузеров,
 задаем глобальные параметры текста*/
  margin: 0;
  padding: 0;
  font-family: Roboto, Georgia, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  width: 1200px;
  background-color: #849d8f;
}

.header-top { /*контейнер для хедера с размерами*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding: 9px 27px;
}
.header-logo {
  width: 154px;
  height: 64px;
}
/*СТИЛИ ДЛЯ МЕНЮ*/
.navigation {
  min-width: 400px;
  height: 64px;
  position: relative;
  left: -150px;
}
.main-nav {
  list-style: none;
  margin-left: 10px;
  padding: 0;
  /* border: 1px solid #e5e5e5; */
}
.main-nav > li {
  position: relative;
  display: inline-block;
  margin-right: 0px;
}
.main-nav a {
  display: block;
  margin: 0px;
  padding: 7px 14px;
  text-align: center;
  color: #ffffff;
  text-decoration: underline;
  font-weight: bold;
  /* border-left: 1px solid #e5e5e5; */
}
.main-nav a:hover {
  color: #323232;
  background-color: #f7f6f3;
  border-radius: 20px;
  font-weight: bold;
}
.main-nav a:active {
  color: #323232;
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0 #696969;
  border-radius: 20px;
}
.main-nav .sub-menu {
  display: none;/*скрыли подменю*/
  position: absolute;
  z-index: 10;
  left: -7px;
  top: 33px;
  width: 143px;
  height: 171px;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-top: 8px solid #849d8f;
}
.main-nav .sub-menu a {
  padding: 0;
  margin: 0;
  padding-top: 7px;
  padding-left: 20px;
  height: 28px;
  color: #323232;
  font-size: 14px;
  line-height: 1.14;
  font-weight: normal;
  text-decoration: none;
  text-align: left;
  vertical-align:  middle;
  box-shadow: none;
  border-radius: 0px;
}
.sub-menu li:first-child a {
  font-weight: bold;
}
.main-nav .sub-menu li:first-child {
  border-bottom: 1px solid gray;
}
.main-nav .sub-menu a:hover {background-color: #fdded8;}
.main-nav .sub-menu a:active {background-color: #f6b5a5;}
.main-nav > li:hover .sub-menu {
  display: block;/*при наведении на пункт главного меню открыть подменю*/
}
 /*СТИЛИ ДЛЯ КНОПОК ВХОДА, ФОРМЫ, КОРЗИНЫ*/
.right-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 640px;
  width: 232px;
  height: 64px;
}

/*СТИЛИ ДЛЯ КНОПКИ ВХОДА*/
.search-button {
  position: relative;
  top: 16px;
  width: 341px;
  height: 84px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.search input[type="search"] {
  display: none;
  position: absolute;
  top: 50px;
  left: -291px;
  z-index: 15;
  width: 311px;
  height: 44px; /*высота поля*/
  padding: 15px; /*размеры поля*/
  color: #999999;
  line-height: 1.71px;
  font-size: 14px;
  border: 1px solid #d3d3d2;
  outline: 15px solid #f8f7f4; /*внешняя рамка*/
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  transition: 1s;
}
.search-button button {
  border-radius: 60%;
  height: 33px;
  width: 33px;
  border: none;
  background: rgba(0, 0, 0, 0.2);
}
.search-btn img {
  top: 7px;
  left: 5px;
}
.search-btn:hover {
  background-color: #323232;
}
.search-button:hover .search input[type="search"] {
  display: block;
  width: 311px; /*ширина поля input[type="search"]*/
}
.search-button input[type="search"]:focus, .search-button input[type="search"]:active {
  width: 311px;
}

/*СТИЛИ ДЛЯ КНОПКИ ФОРМЫ АВТОРИЗАЦИИ*/
.entrance-form {
  position: relative;
  width: 277px;
  top: -67px;
  left:  40px;
}

.entrance  {
  display:  none;
  position: absolute;
  width: 277px;
  height: 214px;
  top: 33px;
  left: -220px;
  z-index: 20;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  padding: 19px; /*внешний отступ от края формы до поля ввода*/
  padding-top: 20px;
  border-radius: 5px;
  border-top: 3px solid #849d8f;
}

input[type="email"], input[type="password"] {
  width: 241px;
  height: 44px; /*высота поля*/
  margin-bottom: 20px;
  padding: 1px 15px;
  color: #999999;
  line-height: 1.71px;
  font-size: 14px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  outline: none; /*внешняя рамка*/
  background-color: #ffffff;
  border-radius: 5px;
}
input[type="email"]:hover, input[type="password"]:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}
input[type="email"]:focus, input[type="password"]:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
}
.entrance-btn { /* кнопка ВХОД главного меню*/
  display: inline;
  border-radius: 20px;
  height: 33px;
  width: 93px;
  padding: 5px 15px;
  border: none;
  color:#ffffff;
  line-height: 1.14px;
  text-align: center;
  vertical-align: top;
  font-weight: 500;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.2);
}
.entrance-btn img {
  position: relative;
  left: -5px;
  top: 0px;
  }
.entrance-btn:hover {
  color: #323232;
  background-color: #f8f7f4;
}
.entrance a {
  position: relative;
  display: inline-block;
  padding-left: 15px;
  top: -10px;
  left: 0px;
  color: #323232;
  line-height: 1.85px;
  text-align: left;
  font-weight: 500;
  font-size: 13px;
  text-decoration: underline;
}
.entrance a:nth-of-type(2) {
  top: -20px;
  left: 104px;
}

 button[type="submit"] { /*кнопка "Войти" в форме*/
  border-radius: 20px;
  width: 100px;
  height: 44px;
  box-shadow: 0px 1px 2px 0 #ac1000;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border: none;
  color: #fefefe;
  line-height: 1.33px;
  font-weight: bold;
  font-size: 18px;
}
.entrance button[type="submit"]:hover {
  box-shadow: 0px 2px 2px 0 #ac1000;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
}
.entrance button[type="submit"]:active {
  outline: none;
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to top, #e74a35, #f26843);
}

.entrance-form:hover .entrance {
  display: block;
}


/*СТИЛИ ДЛЯ КОРЗИНЫ*/
.basket-buttons {
  position: relative;
  width: 539px;
  top: -99px;
  left: 142px;
}
.basket {
  display: inline-block;
  height: 17px;
  padding: 8px 14px;
  color: #ffffff;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  line-height: 1.14px;
  text-align: right;
  vertical-align: middle;
  font-weight: 500;
  font-size: 14px;
}

.basket img {
 position: relative;
 left: -5px;
 top: -2px;
}
.basket:hover {
  color: #323232;
  background-color: #f8f7f4;
}
.basket-table {
  display: none;
  position: relative;
  left: -451px;
  width: 539px;
  z-index: 30;
  min-height: 242px;
  background-color: #ffffff;
  color: #323232;
}
.basket-full {

}
.basket-table p {
  font-weight: bold;
  text-align: right;
  font-size: 15px;
  line-height: 1.2px;
  color: #323232;
  padding-right: 13px;
}
.basket-table a {
  display: inline-block;
  position:  relative;
  top: 14px;
  left: 340px;
  padding-top: 22px;
  padding-right: 15px;
  margin: 0;
  text-decoration: none;
  border-radius: 20px;
  width: 170px;
  height: 22px;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 1px 2px 0 #ac1000;
  border: none;
  color: #fefefe;
  text-align: right;
  line-height: 1.33px;
  font-weight: bold;
  font-size: 18px;
}
.basket-table a:hover {
  box-shadow: 0px 2px 2px 0 #ac1000;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
}
.basket-table a:active {
  outline: none;
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to top, #e74a35, #f26843);
}
table {
  border-collapse: collapse;
  margin: 21px;
}

td {
  margin: 0;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.23;
  text-align: left;
  color: #323232;
}
.table-rows .close {
  background: url('img/close') no-repeat 0 0;
}
.text {
  width: 226px;
}
.text-wrap {
  white-space: normal;
}
.price {
  width: 102px;
}
.full-price {
  width: 58px;
}

tr:nth-child(2) {
  border-bottom: 1px solid gray;
}
.basket-buttons:hover .basket-table {
  display: block;
}


/*время работы*/
.time-work {
  display: inline-block;
  position: relative;
  left: 1700px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  text-align: right;
  color: #ffffff;
}
.time-work a {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.09;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
}

/*Слайдер */

.promo { /* стиль для всей секции*/
  margin: 0px auto;
  width: 1249px; /*ширина*/
  height: 893px; /*высота секции*/
}
.slider { /*стиль для конт. с фото и кнопками*/
  position: relative;
}
.slider input[type="radio"] {
  display: none; /*скрыть радио-кнопки*/
}
.slider-inner { /*оставить только текущую картинку, остальное-скрыть*/
  display: flex; /*фото в одну линию*/
  overflow: hidden;
}
.slider-slides {
  padding: 6px 102px; /*отступ блока фото*/
  width: 1249px; /*ширина=сумме 1 фото c паддингами слева и справа=1045+102+102*/
  transition: transform 0.8s ease; /*появление с задержкой 0,8 секунды*/
}
figure {
  margin: 0;
  padding: 0;
  position: relative;
}
figcaption {
  position: absolute;
  top: 391px;
  left: 160px;
  width: 780px;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.01;
  text-align: center;
}
.mis-container {
  position: absolute;
  top: 250px;
  left: 160px;
  font-size:30px;
  text-decoration: none;
  }
.slider-slides img {
  display: flex;
  flex-wrap: wrap;
  width: 1045px; /*ширина 1 фото*/
  height: 881px;
}
.slider-controls { /*контейнер для подписей к радио-кнопкам. мы видим только их!!*/
  margin-bottom: 0px;
  padding-top: 0px; /*отступ сверху для кнопок*/
  text-align: center;
  position:absolute; /*для передвижения блока с кнопками по координатам*/
  top: 563px;
  left: 27px;
  z-index: 10;
}
.slider-controls label {/*подписи*/
  display: inline-block;/*ракладка*/
  margin: 0 3px;
  width: 21px;
  height: 21px;
  border: 2px solid white; /*обводка*/
  border-radius: 50%; /*круглые, не квадратные*/
  cursor: pointer; /*вид курсора - рука*/
  transition: background-color 0.2s; /*время переключения со светлой на темную кнопку*/
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background-color: #ffffff; /*цвет кнопки на теекущей картинке. Для радио-кнопки с id- btn-1:checked - нажатой подключаем подпись-кнопку с соответстующим for="btn-1"*/
}
#btn-1:checked ~ .slider-inner .slider-slides {
  transform: translate(0); /*если нажата эта кнопка-label, то переходим в контейнер с фото и листаем на нужное через transform: translate(0); 1 фото шириной 1249=1045ширина фото+102+102паддинги с 2-х сторон- начинается с 0 до 1249*/
}
#btn-2:checked ~ .slider-inner .slider-slides {
  transform: translate(-1249px); /*2 фото по счету, второе фото начинается с 1249 по 2498, листаем влево, поэтому знак"-" */
  background-color: #8996a6;
}
#btn-3:checked ~ .slider-inner .slider-slides {
  transform: translate(-2498px); /*3 фото по счету, третье фото начинается с 2498*/
  background-color: #9d8b84;
}
.slider-slides a {
  display: inline-block;
  position:  relative;
  top: -350px;
  left: 400px;
  padding-top: 25px;
  padding-right: 80px;
  margin: 0;
  text-decoration: none;
  border-radius: 40px;
  width: 220px;
  height: 32px;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 1px 2px 0 #ac1000;
  border: none;
  color: #fefefe;
  text-align: right;
  line-height: 1.33px;
  font-weight: bold;
  font-size: 18px;
}
.slider-slides a:hover {
  box-shadow: 0px 2px 2px 0 #ac1000;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
}
.slider-slides a:active {
  outline: none;
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to top, #e74a35, #f26843);
}
