body { /*обнуляем внешние и внутренние отступы браузеров,
 задаем глобальные параметры текста*/
  margin: 0;
  padding: 0;
  font-family: Roboto, Georgia, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  width: 1200px;
  height: 2416px;
  background-color: #849d8f;
}
.page-header {
  color: white;
}
.header-logo {
  padding-top: 9px;
  padding-left: 27px;
}
/*СТИЛИ ДЛЯ МЕНЮ*/

.main-nav {
  list-style: none;
  width: 440px;
  margin-left: 20px; /*убрать после*/
  padding: 0;
  border: 1px solid #e5e5e5;/*убрать после*/
}
.main-nav > li {
  position: relative;
  display: inline-block;
  margin-right: 0px;
}
.main-nav a {
  display: block;
  margin-left: 0px;
  margin-right: 0px;
  padding: 3px 14px;
  text-align: center;
  color: #ffffff;
  text-decoration: underline;
  font-weight: bold;
  border-left: 1px solid #e5e5e5; /*убрать после*/
}
.main-nav a:hover {
  color: #323232;
  background-color: #f7f6f3;
  border-radius: 20px;
  font-weight: bold;
}
.main-nav a:active { /*добавить стили*/
  color: #323232;
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0 #696969;
  border-radius: 20px;
}
.main-nav .sub-menu {
  display: none;/*скрыли подменю*/
  position: absolute;
  left: -7px;
  top: 25px;
  width: 143px;
  height: 171px;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-top: 5px solid #849d8f;
}
.main-nav .sub-menu a {
  padding: 0;
  margin: 0;
  padding-top: 7px;
  padding-left: 20px;
  height: 28px;
  color: #323232;
  font-size: 14px;
  line-height: 1.14;
  font-weight: normal;
  text-decoration: none;
  text-align: left;
  vertical-align:  middle;
  box-shadow: none;
  border-radius: 0px;
}
.sub-menu li:first-child a {
  font-weight: bold;
}
.main-nav .sub-menu li:first-child {
  border-bottom: 1px solid gray;
}
.main-nav .sub-menu a:hover {background-color: #fdded8;}
.main-nav .sub-menu a:active {background-color: #f6b5a5;}
.main-nav > li:hover .sub-menu {
  display: block;/*при наведении на пункт главного меню открыть подменю*/
}
 /*СТИЛИ ДЛЯ КНОПОК ВХОДА И ФОРМЫ*/

/*СТИЛИ ДЛЯ КНОПКИ ВХОДА*/
.search {
  width: 341px;
  height: 84px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.search input[type="search"] {
  display: none;
  position: absolute;
  top: 55px;
  left: 15px;
  width: 311px;
  height: 44px; /*высота поля*/
  padding: 15px; /*размеры поля*/
  margin-top: 4px;
  color: #999999;
  line-height: 1.71px;
  font-size: 14px;
  border: 1px solid #d3d3d2;
  outline: 15px solid #f8f7f4; /*внешняя рамка*/
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  transition: 1s;
}
.search button {
  border-radius: 60%;
  height: 33px;
  width: 33px;
  position: absolute;
  top: 10px;
  right: 0px;
  border: none;
  background: rgba(0, 0, 0, 0.2);
}
.search-btn img { /*не видно изображение кнопки*/
  top: 7px;
  left: 5px;
}
.search:hover .search-btn:hover {
  background-color: #323232;
}
.search:hover input[type="search"] {
  display: block;
  width: 311px; /*ширина поля*/
}
.search input[type="search"]:focus, .search input[type="search"]:active {
  width: 311px;
}

/*СТИЛИ ДЛЯ КНОПКИ ФОРМЫ АВТОРИЗАЦИИ*/
.entrance  {
  display:  block;
  position: relative;
  width: 277px;
  height: 214px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  padding: 19px; /*внешний отступ от края формы до поля ввода*/
  padding-top: 20px;
  border-radius: 5px;
}
.entrance input[type="email"], input[type="password"] {
  width: 241px;
  height: 44px; /*высота поля*/
  margin-bottom: 20px;
  padding: 1px 15px;
  color: #999999;
  line-height: 1.71px;
  font-size: 14px;
  border: 1px solid #d3d3d2;
  outline: none; /*внешняя рамка*/
  background-color: #ffffff;
  border-radius: 5px;
}
.entrance-btn { /* кнопка ВХОД главного меню*/
  position: relative;
  display: inline-block;
  border-radius: 20px;
  top: -240px; /*отступ кнопки*/
  left: 70px; /*внутр. отступ кнопки*/
  height: 32px;
  width: 93px;
  padding: 5px 15px;
  border: none;
  color:#ffffff;
  line-height: 1.14px;
  text-align: right;
  vertical-align: top;
  font-weight: 500;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.2);
}
.entrance-btn img {
  position: relative;
  left: -5px;
  top: 0px;
  }
.entrance-btn:hover {
  color: #323232;
  background-color: #f8f7f4;
}
.entrance a {
  position: relative;
  display: inline-block;
  padding-left: 15px;
  top: -10px;
  left: 0px;
  color: #323232;
  line-height: 1.85px;
  text-align: left;
  font-weight: 500;
  font-size: 13px;
  text-decoration: underline;
}
.entrance a:nth-of-type(2) {
  top: -20px;
  left: 105px;
}

 button[type="submit"] { /*кнопка "Войти" в форме*/
  border-radius: 20px;
  width: 100px;
  height: 44px;
  box-shadow: 0px 1px 2px 0 #ac1000;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border: none;
  color: #fefefe;
  line-height: 1.33px;
  font-weight: bold;
  font-size: 18px;
}
.entrance button[type="submit"]:hover {
  box-shadow: 0px 2px 2px 0 #ac1000;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
}
.entrance button[type="submit"]:active {
  outline: none;
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to top, #e74a35, #f26843);
}

/*СТИЛИ ДЛЯ КОРЗИНЫ*/
.basket {
  position: relative;
  top: 32px;
  right:  -417px;
  display: inline-block;
  margin: 20px 20px;
  height: 32px;
  padding: 3px 14px;
  color: #ffffff;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  line-height: 1.14px;
  text-align: right;
  font-weight: 500;
  font-size: 14px;
}
.basket img {
 position: relative;
 left: -5px;
 top: 5px;
}
.basket:hover {
  color: #323232;
  background-color: #f8f7f4;
  background-image: url('img/basket-full') no-repeat;
}
.basket-full {
  width: 539px;
  height: 242px;
  background-color: #ffffff;
  color: #323232;
}
.basket-full p {
  font-weight: bold;
  text-align: right;
  font-size: 15px;
  line-height: 1.2px;
  color: #323232;
  padding-right: 13px;
}
.basket-full a {
  display: inline-block;
  position:  relative;
  top: 14px;
  left: 340px;
  padding-top: 22px;
  padding-right: 15px;
  margin: 0;
  text-decoration: none;
  border-radius: 20px;
  width: 170px;
  height: 22px;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 1px 2px 0 #ac1000;
  border: none;
  color: #fefefe;
  text-align: right;
  line-height: 1.33px;
  font-weight: bold;
  font-size: 18px;
}
table {
  border-collapse: collapse;
  margin: 21px;
}

td {
  font-size: 13px;
  font-weight: normal;
  line-height: 1.23;
  text-align: left;
  color: #323232;
}
.text {
  width: 226px;
}
.text-wrap {
  white-space: normal;
}
.price {
  width: 102px;
}
.full-price {
  width: 58px;
}
.close span { /*не видно крестика??*/
  display: inline-block;
  width: 11px;
  height: 11px;
  font-size: 0;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-image: url('img/close.png');
}
tr:nth-child(2) {
  border-bottom: 1px solid gray;
}

/*время работы*/
.time-work {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  text-align: right;
  color: #ffffff;
}
.time-work a {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.09;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
}

